h1 { 
    border: solid ;

    text-align: center;
    color:white;
    background-color:black
}
img {
    border: solid;
    width: 150px;
    

}
.people {
display: flex;
flex-direction: row;
background-repeat: no-repeat;
flex-wrap: wrap;

background-size: 1500px 1450px;
background-color: black;
border: red; 

}
.peoplebox {
    width: 50%;


}

/* .people > div {
width: 100%; */

  




.column {
    float: left;
    width: 33.33%;
    padding: 5px;



}
.row::after {
    content: "";
    clear: "";
    display: table;


}


p{
color: white;
background-color: black;


}
h2{
color:white;
background-color: black;
text-align: center;



}
h3 {
color: white;




}