h1 { 
    

    text-align: center;
    color:white;
    
}
img {
   
    width: 150px;
    

}
.people {
display: flex;
flex-direction: row;
background-repeat: no-repeat;
flex-wrap: wrap;

background-size: 1500px 1450px;
/* background-color: black ; */
border:white; 

}
.peoplebox {
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
background-color: #526c6b;
padding: 1% 2% 1% 2% ;
margin-left: 2%;
margin-top: 2%;
opacity: 0.8;
}

/* .people > div {
width: 100%; */

  




.column {
    float: left;
    width: 33.33%;
    padding: 5px;



}
.row::after {
    content: "";
    clear: "";
    display: table;


}


p{
color:white;
/* border: solid black; */

/* background-color: white; */

}
h2{
color: white;
border: black;
text-align: center;

/* background-color: white; */


}
h3 {
color: white;
border: black;

/* background-color:white; */


}
body {
    background-image: url("https://i.pinimg.com/originals/e6/df/ea/e6dfeaa166a0604845653ed932f4a034.jpg");
    background-size: 122%;
}
a{
color: white;
text-decoration: none;
flex-direction: row;

}