h1 { 
    border: solid ;

    text-align: center;
    color:red;

}
img {
    border: solid;
    width: 150px;
    

}
.people {
display: flex;
flex-direction: column;
background-repeat: no-repeat;
background-image:url('https://dw9to29mmj727.cloudfront.net/promo/2016/5336-SeriesHeaders_Tier01_Magic_2000x800.jpg');
background-size: 1500px 1450px
}
.people > div {
width: 100%;



}
p{
color: red;



}
h3 {
color: red;




}